@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BIZ+UDGothic&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BIZ+UDGothic&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu{
    position: relative;
    color: white;
    z-index: 1;
    height: 98vh;
}

.menu::before {
    background-image: url(img/back.png);
    background-size: cover;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: -1;
    background-color: black;
}

.container{
    width: 80%;
    margin: 0 auto;
    position: relative;
}

.navbar{
    width: 100%;
    height: 31px;
    position: absolute;
    top: 35px;
}

.menu-list{
    display: inline-block;
    width: fit-content;
    vertical-align: middle;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);   
}

.menu-list ul{
    list-style-type: none;
    display: inline-block;
}

.menu-list li{
    display: inline-block;
}

.menu-list a{
    text-decoration: none;
    color: white;
    font-family: Montserrat;
    font-weight: 300;
    font-size: 18px;
    margin-right: 40px;
}

.last{
    margin-right: 0 !important;
}

.logo-name{
    display: inline-block;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 24px;
    vertical-align: middle;
}

.socials-icons{
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    right: 0%;
    top: 50%;
    transform: translate(0%, -50%);
}

.first{
    margin-left: 0 !important;
}

.socials-icons img{
    margin-left: 10px;  
}

.main{
    position: absolute;
    top: 200px;
    width: 100%;
}

.heading{
    text-align: center;
    font-family: Montserrat;
    font-size: 65px;
    font-weight: bold;
    line-height: 1;
}

.text{
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    margin-top: 10px;
}

.button a{
    font-family: Montserrat;
    font-size: 18px;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.button button{
    border: 1px solid #A8FF35;
    border-radius: 30px;
    background-color: #A8FF35;
    width: 130px;
    height: 40px;
    box-shadow: 0px 0px 30px 0px #3dc21b;
    text-align: center;
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translate(-50%);
}

.arrow p{
    font-family: BIZ UDGothic;
    font-size: 12px;
    position: absolute;
    left: 57%;
    top: 200px;
    transform: rotate(20deg);
}

.arrow img{
    position: absolute;
    left: 57%;
    top: 220px;
}

.frames{
    position: absolute;
    width: 100%;
    top: 520px;
}

.frames p{
    font-family: Roboto;
    font-size: 22px;
    font-weight: 300;
    display: inline-block;
    position: absolute;
    top: 26%;
    left: 40%;
    transform: translate(-30%, 0%);
}

.adobe{
    width: 40px;
    position: absolute;
    top: 15%;
    transform: translate(50%, 0%);
}

.x{
    width: 17px !important;
    position: absolute;
    top: 34%;
    right: 10%;
}

.frame1, .frame2, .frame3{
    display: inline-block;
    width: 300px;
    height: 60px;
    background-color: #181818;
    filter: drop-shadow(7px 6px 5px #000000);
}

.last-frame{
    float: right;
}

.middle-frame{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.socials{
    height: 110vh;
    width: 100%;
}

.main-text{
    display: inline-block;
    position: absolute;
    top: 110px;
}

.main-text h2{
    font-family: Montserrat;
    font-weight: bold;
    font-size: 60px;
}

.me, .social-subtext{
    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;
    margin-top: 30px;
}

.social-subtext{
    margin-top: 0 !important;
    margin-left: 28%;
    margin-bottom: 10px;
}

.right-image{
    display: inline-block;
}

.right-image img{
    width: 650px;
    position: absolute;
    right: 0;
    top: 0;
}

.media{
    margin-top: 40px;
    margin-left: 2%;
}

.media img{
    vertical-align: middle;
    width: 51px;
    height: 51px;
}

.media .social-title{
    display: inline-block;
    font-family: Montserrat;
    font-size: 38px;
    font-weight: 600;
    vertical-align: middle;
    margin-left: 3%;
}

.program{
    height: 90vh;
}

.program h2{
    font-family: Montserrat;
    font-weight: bold;
    font-size: 68px;
    text-align: center;
    margin-top: 180px;
    margin-bottom: 30px;
}

.white-blocks{
    width: fit-content;
    margin: 0 auto;
}

.block{
    display: inline-block;
    box-shadow: 0px 0px 20px 4px #eeeeee;
    border-radius: 16px;
    width: 22%;
    height: 400%;
}

.block1{
    position: absolute;
    left: 14%;
}

.block2{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);    
}

.block3{
    position: absolute;
    right: 14%;
}

.block h3{
    font-family: Montserrat;
    font-size: 28px;
    font-weight: 500;
    text-align: center;
    margin-top: 21px;
}

.block .img1, .img2, .img3{
    position: absolute;
    top: 10%;
    width: 90%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.block .p1, .p2, .p3{
    position: absolute;
    top: 65%;
    left: 7%;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
}

.price{
    background-image: url(img/background2.png);
    background-color: #000000;
    background-size: cover;
    height: 130vh;
}

.price h2{
    font-family: Montserrat;
    font-weight: bold;
    font-size: 68px;
    color: white;
    text-align: center;
    padding-top: 50px;
}

.img1, .block-img2{
    position: absolute;
    z-index: 99999;
}

.img1{
    width: 25%;
    left: -10%;
    top: 280%;
}

.block-img2{
    width: 50%;
    left: 60%;
    top: 7%;
}

.price-frames{
    padding-top: 100px;
}

.price-frame{
    display: inline-block;
    position: absolute;
    background-color: white;
    width: 25%;
    height: 230%;
    border-radius: 16px;
}

.price-frame1{
    left: 10%;
}

.price-frame2{
    left: 50%;
    transform: translate(-50%, 0%);
}

.price-frame3{
    right: 10%;
}

.price-frame p{
    display: inline-block;
}

.frame-title{
    font-family: Montserrat;
    font-weight: 600;
    font-size: 30px;
    padding-top: 20px;
    padding-left: 30px;
}

.frame-subtitle{
    font-family: Montserrat;
    font-weight: 400;
    font-size: 18px;
    padding-top: 20px;
    padding-left: 30px;
}

hr{
    border: 2px solid #b9b2b2;
    width: 67%;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 25px;
}

.frame-price{
    font-family: Montserrat;
    font-weight: bold;
    font-size: 35px;
    margin-left: 30px;
    margin-bottom: 20px;
}

.block-list li{
    list-style: none;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;
    margin-left: 30px;
    line-height: 30px;
    width: 85%;
    white-space: nowrap;
    vertical-align: top;
    vertical-align: middle;
}

ul p{
    margin-left: 10px;
    display: inline-block !important;
    vertical-align: top;
    vertical-align: middle;
}

ul img{
    display: inline;
    vertical-align: middle;
}

.buy{
        background-color:#a7ff35;
        border-radius:29px;
        display: inline-block;
        border: 1px solid #a7ff35;
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translate(-50%);
        width: 250px;
        height: 50px;
}

.buy a{
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}

.footer{
    height: 60vh;
    background-image: url(img/background3.png);
    background-size: cover;
    background-color: #000000;
}

.footer h2{
    font-family: Montserrat;
    font-weight: bold;
    font-size: 60px;
    text-align: center;
    padding-top: 90px;
    color: white;
}

.image-container{
    width: fit-content;
    margin: 0 auto;
    margin-top: 70px;
}

.footer-images{
    position: relative;
    display: inline-block;
    width: 110px;
    height: 110px;
    border-radius: 16px;
    margin-left: 20px;
    background: rgba(24, 24, 24, 0.5);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
}

.f-image1 img{
    width: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: drop-shadow(2px 7px 8px #1877F2);
}

.f-image2 img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    filter: drop-shadow(0px 7px 8px #FFDD55);
}

.f-image3 img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: drop-shadow(0px 7px 8px #0A66C2);
}

.f-image4 img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: drop-shadow(0px 7px 8px #1D9BF0);
}

.f-image1{
    margin-left: 0 !important;
}

